.disablescroll {
	overflow: hidden;
}

// Container
.container {
	@include outer-container();
	padding: 0 20px;
}

.row {
	@include row();
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

// Sticly Fix
.sticky {

	#content {
		//padding-top: 63px;
	}
}

// Table

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.cell {
	display: table-cell;
	width: 100%;
	height: 100%;

	&.middle {
		vertical-align: middle;
	}
}

// GRID

.grid {

	.full {
		@include full-span;
	}

	.half {
		@include one-half-nom;
	}

	.third {
		@include one-third-nom;
	}

	.two-thirds {
		@include two-thirds-nom;
	}

	.quarter {
		@include one-quarter-nom;
	}

	.three-quarters {
		@include three-quarters-nom;
	}

}