/*=============================
=            Contact            =
=============================*/

.contact-us {

	.entry-content {
		margin-bottom: 30px;

		h3 {
			margin: 0;
			font-size: 20px;
			font-weight: 100;
		}
	}

	.feature-image {
		margin-bottom: 40px;
	}

	.page-row {
		background: #f9f9f9;
		padding: 60px 0;
	}
	
}
